.App {
  text-align: center;
  background-color: #e5dfdf;
  min-height: 100vh;
  color: white;
  font-size: 20px;
}

.App-header {
  background-color: #6ba8a9;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
